# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
BackendNodeServer/node_modules
FrontendReact/node_modules
FrontendReact/.pnp
FrontendReact/.pnp.js

# testing
FrontendReact/coverage

# production
FrontendReact/build


